langchain
langchain_community
langchain_openai
nltk==3.8.1
pypdfium2
rapidocr-onnxruntime
sentence-transformers
unstructured
unstructured[pdf]
anthropic
openai
langchain-anthropic
python-pptx
python-magic
python-magic-bin
pypdf
langchain-experimental
langchain-chroma
langchain-ollama
faiss-cpu